*.pyc
*.db
*~

html/
htmlcov/
coverage/
coverage.xml
.coverage
.tox
nosetests.xml
build/
junit/
dist/
*.egg-info/
MANIFEST
.pytest_cache/

bin/
include/
lib/
local/

*.log
pip-log.txt

.DS_Store

.vscode/

envdir/
env
*.env
site
.venv/

media/
staticfiles/
tmp/

celerybeat-schedule
*.crt
*.key
*.sql
*.rdb
.testmondata
.tmontmp
.mypy_cache

.venv/

